.about-main-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-main-ctn .about-left-ctn {
  width: 55%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-main-ctn .about-left-ctn .about-text-ctn {
  margin-bottom: 40px;
}

.about-main-ctn .about-left-ctn .about-text-ctn .about-text-1 {
  font-size: 17px;
  font-weight: 500;
  color: #071D48;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-main-ctn .about-left-ctn .about-text-ctn .about-text-2 {
  font-size: 35px;
  font-weight: 600;
  color: #071D48;
}

.about-main-ctn .about-left-ctn .about-btns-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
}

.about-main-ctn .about-left-ctn .about-btns-ctn a {
  text-decoration: none;
}

.about-main-ctn .about-left-ctn .about-btns-ctn .contact-btn {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 133px;
  height: 38px;
  border-radius: 20px;
  background-color: #F05D7B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 15px #00000042;
          box-shadow: 0px 5px 15px #00000042;
  color: white;
  border: 2px solid #F05D7B;
  cursor: pointer;
}

.about-main-ctn .about-left-ctn .about-btns-ctn .contact-btn:hover {
  background-color: #F2F4F9;
  color: #F05D7B;
}

.about-main-ctn .about-left-ctn .about-btns-ctn .contact-btn .contact-btn-txt {
  font-size: 14px;
  font-weight: 400;
}

.about-main-ctn .about-left-ctn .about-btns-ctn .cv-btn {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #F05D7B;
  width: 133px;
  height: 38px;
  border-radius: 30px;
  border: 2px solid #F05D7B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 15px #00000042;
          box-shadow: 0px 5px 15px #00000042;
  background-color: transparent;
  cursor: pointer;
}

.about-main-ctn .about-left-ctn .about-btns-ctn .cv-btn:hover {
  background-color: #F05D7B;
  color: white;
}

.about-main-ctn .about-left-ctn .about-btns-ctn .cv-btn .cv-btn-txt {
  font-size: 14px;
  font-weight: 400;
  text-shadow: 0px 2px 2px #0000001e;
}

.about-main-ctn .about-right-ctn {
  position: relative;
  width: 45%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-main-ctn .about-right-ctn .about-img-ctn {
  height: 450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-main-ctn .about-right-ctn .about-img-ctn .about-img {
  width: 350px;
  height: 350px;
  border-radius: 175px;
  border: none;
  -webkit-box-shadow: 0 10px 11px rgba(0, 0, 0, 0.322);
          box-shadow: 0 10px 11px rgba(0, 0, 0, 0.322);
}

.about-main-ctn .about-right-ctn .about-img-ctn .bg-circle-1 {
  width: 330px;
  height: 330px;
  border-radius: 165px;
  background-color: #071d4838;
  position: absolute;
  z-index: -1;
  bottom: 30px;
  right: -30px;
}

.about-main-ctn .about-right-ctn .about-img-ctn .bg-circle-2 {
  width: 330px;
  height: 330px;
  border-radius: 165px;
  background-color: #F05D7B38;
  position: absolute;
  z-index: -1;
  top: 30px;
  left: 30px;
}

.about-main-ctn .about-cover-ctn {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about-main-ctn .about-cover-ctn .about-cover-title {
  font-size: 22;
  color: #F05D7B;
  font-weight: 600;
  text-align: center;
}

.about-main-ctn .about-cover-ctn .about-cover-text {
  margin-top: 25px;
  font-size: 14px;
  line-height: 2.5;
  text-align: center;
}

@media (max-width: 768px) {
  .about-main-ctn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-main-ctn .about-left-ctn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 90%;
    height: auto;
  }
  .about-main-ctn .about-left-ctn .about-text-ctn .about-text-1 {
    text-align: center;
  }
  .about-main-ctn .about-left-ctn .about-text-ctn .about-text-2 {
    text-align: center;
  }
  .about-main-ctn .about-left-ctn .about-btns-ctn {
    width: 90%;
    margin: auto;
  }
  .about-main-ctn .about-right-ctn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 80%;
    height: 300px;
  }
  .about-main-ctn .about-right-ctn .about-img-ctn .about-img {
    width: 200px;
    height: 200px;
  }
  .about-main-ctn .about-right-ctn .about-img-ctn .bg-circle-1 {
    width: 200px;
    height: 200px;
    border-radius: 165px;
    background-color: #071d4838;
    position: absolute;
    z-index: -1;
    bottom: 30px;
    right: 20px;
  }
  .about-main-ctn .about-right-ctn .about-img-ctn .bg-circle-2 {
    width: 200px;
    height: 200px;
    border-radius: 165px;
    background-color: #F05D7B38;
    position: absolute;
    z-index: -1;
    top: 30px;
    left: 30px;
  }
  .about-main-ctn .about-cover-ctn {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 40px;
  }
}
/*# sourceMappingURL=About.css.map */