$pink : #F05D7B;
$blue: #071D48;
$black: #000000;
$bg: #F2F4F9;

$tablet: 768px;
$phone: 450px;

.assets-main-ctn {
    width: 100%;
    margin-top: 150px;

    .assets-ctn {
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
        width: calc(75% + 70px);

        .assets-bg-ctn {
            background-color: $pink;
            width: 40%;
            border-radius: 10px;
            box-shadow: 0px 10px 15px #f05d7a44;
            height: 275px;
            display: flex;
            align-items: flex-end;

            .assets-soft-skills-ctn {
                background-color: white;
                border-radius: 10px;
                width: 100%;
                height: 98.5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .assets-title {
                    color: $blue;
                    font-weight: 600;
                    text-align: center;
                    margin-bottom: 20px;
                }

                .soft-skills-ctn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .soft-skill {
                        margin-bottom: 7.5px;
                        font-size: 15px;
                    }
                    .soft-skill:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }

            .assets-languages-ctn {
                background-color: white;
                border-radius: 10px;
                width: 100%;
                height: 98.5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .assets-title {
                    color: $blue;
                    font-weight: 600;
                    text-align: center;
                    margin-bottom: 20px;
                }

                .languages-ctn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .language {
                        margin-bottom: 7.5px;
                        font-size: 15px;
                    }
                    .language:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: $phone) {
    .assets-main-ctn {
        margin-top: 100px;

        .assets-ctn {
            flex-direction: column;

            .assets-bg-ctn {
                width: 90%;
                margin: auto;
                margin-top: 15px;
            }
            .assets-bg-ctn:first-child {
                margin-top: 0px;
            }
        }
    }
}